/* Login Page Specific Styles */
body {
    background-color: #f2f2f2;
}

.container {
    width: 100%;
    max-width: 450px;
    margin: auto;
    text-align: center;
    justify-content: center;
    margin-top: 10%;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 32px;
    color: #f57c00;
    margin-bottom: 30px;
}

form input {
    font-size: 16px;
    padding: 14px;
    margin-bottom: 18px;
    border-radius: 8px;
    border: 2px solid #ddd;
    width: 100%;
}

form input[type="email"]:focus, 
form input[type="password"]:focus {
    border-color: #f57c00;
}

button {
    background-color: #f57c00;
    padding: 14px;
    font-size: 16px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #ff9800;
}

a {
    color: #f57c00;
    font-size: 14px;
    text-decoration: none;
    margin-top: 15px;
}

a:hover {
    color: #ff9800;
}
